[submodule "src/c_src/ftpclient"]
	path = src/c_src/ftpclient
	url = https://github.com/ysdragon/ftpclient.h
[submodule "src/c_src/wolfssl"]
	path = src/c_src/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "src/c_src/curl"]
	path = src/c_src/curl
	url = https://github.com/curl/curl.git
